.title-pg{
	
font-size:  2em;
	
font-weight:  900;
	
text-transform:  uppercase;
}

.edit{

background: #121a35;
}

.delete{

background: #b12020;
}

.actions{
	
color: #FFF;
	
text-decoration:  none;
	
font-size: 1em;
	
padding: 6px;
	
margin:  0px 2px;
}

.actions:hover{
	text-decoration: none;
	color: #FFF;
}

.btn-add{
	margin-bottom: 10px;
}